<div class="container" ng-controller="mainController">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">About</a></li>
        <li role="presentation"><a href="#">Contact</a></li>
      </ul>
    </nav>
    <h3 class="text-muted">Grunt.js & Angular.js Boilerplate</h3>
  </div>
  <div class="jumbotron">
    <h1>Hello !</h1>
    <div my-customer></div>
    <p class="lead">This is just an example application with Angular.js sugar added.</p>
    <p><a class="btn btn-lg btn-success" bg-change role="button">Click me !</a></p>
  </div>
  <div class="row marketing">
    <div class="col-lg-6" ng-repeat="data in data track by $index">
    <user-widget data=data></user-widget>
    </div>
  </div>
  <footer class="footer">
    <p>© Created by <em>Michał Lach</em> 2015</p>
  </footer>
</div>
